.Nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
      "vacio temp temp temp"
      "vacio rep rep rep";

  }

.vacio{
    grid-area: vacio;
}
.temp{
    grid-area: temp;
    display: flex;
    justify-content: center;
}
.rep{
    grid-area: rep;
    display: flex;
    justify-content: center;
}
.textCenter{
    align-self: center;
}

h3{
    margin: 0 10px;
    padding: 0;
    align-content: center;
}


@media (max-width: 720px){

    .Nav-container {
        display: grid;
        margin-top: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 50px;
        grid-template-areas: 
          "temp temp temp"
          "rep rep rep";

      }
}